.post {
  padding: 30px 30px;
  width: 880px;
  margin: 0 auto;
  &__upper-text {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 30px;
  }

  &__list-wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

.post-box {
  border-radius: 12px;
  border: 1px solid #e1e5f1;
  background-color: #ffffff;
  padding: 10px;
  //width: 880px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
  &__top {
    overflow: hidden;
  }
  &__img {
    width: 880px;
    height: 400px;
    border: none;
    cursor: pointer;
  }
  &__body {
    padding: 10px;
  }

  &__title {
    margin-top: 7px;
    font-size: 1.2rem;
    font-weight: 900;
  }

  &__content {
    overflow: hidden;
    line-height: 1.8rem;
    white-space: pre-line;
    margin: 50px 0px;
    font-size: 1.1rem;
  }

  &__bottom {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__author-wrap {
    color: #aaa;
    font-size: 0.9rem;
  }

  &__author-name {
    font-size: 1rem;
    color: #392f31;
  }

  &__author-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
  }
  &__from {
    color: #aaa;
    font-size: 1rem;
  }

  &__date {
    line-height: 33px;
    font-size: 1rem;
    color: #aaa;
  }
}
@media only screen and (max-width: 1980px) {
  .post {
    width: 900px;
  }

  .post-box {
    padding: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .post {
    width: 90%;
  }
  .post-box {
    &__img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .post {
    width: calc(100% - 1rem);
    padding: 10px 0px;
  }
  .post-box {
    width: 90%;
    &__img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 420px) {
  .post {
  }

  .post-box {
    padding: 5px;

    &__title {
      font-size: 1.1rem;
    }
    &__content {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }

    &__img {
      width: 100%;
      height: 200px;
    }

    &__author-wrap {
      color: #aaa;
      font-size: 0.9rem;
    }

    &__bottom {
      font-size: 0.7rem;
      margin: 3px;
    }

    &__author-name {
      font-size: 0.7rem;
    }

    &__author-img {
      width: 23px;
      height: 23px;
      margin-right: 2px;
    }
    &__from {
      color: #aaa;
      font-size: 0.7rem;
    }

    &__date {
      font-size: 0.8rem;
      color: #aaa;
    }
  }
}
