.my {
  padding: 15px 70px;
  background-color: #f2f2f3;
  height: 380px;
  min-height: 400px;
  border: 1px solid #e6e6e6;

  &__button-wrap {
    margin: auto;
  }
  &__title {
    font-size: 0.8rem;
  }
  &__contents {
    display: flex;
    justify-content: center;
    margin: 0 -1rem;
  }
}

.list-box {
  border-radius: 9px;
  background-color: #ffffff;
  height: 17.5rem;
  width: 17.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  &--none {
    box-shadow: none;
    border: 2px solid #44c670;

    &:hover {
      box-shadow: none;
    }
  }

  &--disabled {
    pointer-events: none;
  }

  &__add-wrap {
    text-align: center;
    width: 280px;
    height: 230px;
    border-bottom: 1px solid #44c670;
  }

  &__title {
    height: 5rem;
    line-height: 40px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    border-bottom: 1px solid #eee;
  }

  &__progress {
    font-size: 1rem;
    padding: 0 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  &__footer {
    padding: 15px 10px 10px;

    &--submit {
      color: #ffffff;
      background-color: #67b267;
      line-height: 1.5rem;
    }

    &--banned {
      color: #ffffff;
      background: #e5d401;
      line-height: 1.5rem;
    }

    &--ended {
      color: #ffffff;
      background: #b36457;
      line-height: 1.5rem;
    }

    &--search {
      color: #ffffff;
      background-color: #67b267;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
  &__img_wrap {
    color: #ffffff;
    border-radius: 9px 9px 0 0;
    width: 280px;
    height: 133px;
    overflow: hidden;
  }

  &__img {
    &--not-submit {
      -webkit-filter: grayscale(100%);
    }
  }

  &:hover {
    box-shadow: 4px 7px 33px -5px rgba(0, 0, 0, 0.75);
  }

  &--submit {
    border-bottom: 10px solid green;
  }

  &--not-submit {
    border-bottom: 10px solid red;
  }
}

.my-post {
  background: #ffffff;
  margin: 0 auto;
  padding: 20px 75px;
  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 40px;
  }

  &__name {
    font-size: 1.9rem;
    margin-left: 20px;
    font-weight: 700;
  }

  &__post-box {
    min-height: calc(100vh - 578px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1rem;
  }

  &__post-label {
    font-weight: 700;
    font-size: 1.5rem;
    margin: auto 0;
  }
}

.mypost-box {
  background-color: #fffafa;
  display: flex;
  border-radius: 12px;
  //background-color: #ffffff;
  //min-width: 710px;
  max-height: 360px;
  margin: 0.5rem;
  border: 1px solid #eee;
  //box-shadow: 1px 1px 10px 13px rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  &__top {
    overflow: hidden;
    //height: 360px;
    width: 360px;
    border-right: 1px solid #eee;
  }
  &__img {
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  &__body {
    padding: 10px;
  }

  &__title {
    margin-top: 7px;
    font-size: 1.2rem;
    font-weight: 900;
  }

  &__content {
    white-space: pre-line;
    margin: 15px 0px;
    font-size: 1.1rem;
  }

  &__bottom {
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
  }
}

.post-thumbnailboxB {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  width: 340px;
  height: 280px;
  margin: 0.5rem;

  &__top {
    overflow: hidden;
    height: 150px;
  }
  &__img {
    width: 340px;
    height: 150px;
    border: none;
    cursor: pointer;
  }
  &__body {
    padding: 10px;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 7px;
    font-size: 1rem;
    font-weight: 900;
  }

  &__content {
    //white-space: pre-line;
    margin: 15px 0px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
  }

  &__author-wrap {
    color: #aaa;
    font-size: 0.8rem;
  }

  &__author-name {
    font-size: 0.9rem;
    color: #392f31;
  }

  &__author-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__date {
    font-size: 0.9rem;
    color: #aaa;
  }
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #92ad40;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
