.App-aside {
    position : fixed;
    top : 0;
    left : 0;
    bottom : 0;
    z-index: 9000;
    border-right: 1px solid #eee;
    margin-top: 4vmin;
    width : 280px;
    background-color: #ffffff;
}