.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  height: 50px;
  //width: 68vw;
  background-color: #ffffff;
  min-height: 50px;
  padding: 0 280px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  // &__logo-wrap {
  //   line-height: 3rem;
  //   font-size: 1.6rem;
  //   color: #1f1f1f;
  // }
  &__logo {
    width: 220px;
    cursor: pointer;
  }
  &__logInOut-button {
    background: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 3rem;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.login {
  line-height: 3rem;
  color: #1f1f1f;

  &__profile-img {
    border-radius: 18px;
    width: 33px;
    height: 33px;
    vertical-align: middle;
    cursor: pointer;
  }
  .popup-content {
    max-width: 500px;
    width: 500px;
  }
  &__profile-name {
    font-size: 1.3rem;
  }
}

.profile-dropdown {
  margin: 0 20px;
  text-align: center;

  &__user-img {
    width: 30px;
    height: 30px;
  }

  &__user-name {
    display: flex;
    font-size: 1.1rem;
  }

  &__my-page {
    display: flex;
    font-size: 1.1rem;
    border-bottom: 2px solid #eee;
    &:hover {
      font-weight: 700;
    }
  }

  &__logout-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      font-weight: 700;
    }
  }
}

// .popup-overlay .popup-content {
//   max-width: 600px;
//   width: 600px;
// }

// .dropdown {
//   display: inline-block;
// }

// .dropdown__content {
//   display: none;
//   position: absolute;
// }

// .dropdown--active .dropdown__content {
//   display: block;
//   background-color: #ffffff;
//   box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.11);
// }
