.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 950;
  height: 70px;
  //width: 68vw;
  background-color: #ffffff;
  min-height: 70px;
  padding: 0 15px;
  border-bottom: 1.5px solid #eee;
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  // &__logo-wrap {
  //   line-height: 3rem;
  //   font-size: 1.6rem;
  //   color: #1f1f1f;
  // }

  &__logo {
    width: 250px;
    cursor: pointer;
  }
  &__logInOut-button {
    background: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 4.3rem;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      color: #294e80;
    }
  }
}

.login {
  display: flex;
  color: #1f1f1f;
  margin-top: 15px;
  &__profile-img {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    //margin-top: 15px;
    cursor: pointer;
  }
  .popup-content {
    max-width: 500px;
    width: 500px;
  }
  &__profile-name {
    font-size: 1.3rem;
  }
}

.profile-dropdown {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  position: absolute;
  top: 75px;
  padding: 12px 20px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #eee;
  &__user-img {
    width: 30px;
    height: 30px;
  }

  &__user-name {
    display: flex;
    font-size: 1.1rem;
    height: 30px;
  }

  &__my-page {
    display: flex;
    font-size: 1.1rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    &:hover {
      font-weight: 700;
    }
  }

  &__logout-button {
    padding-top: 10px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      font-weight: 700;
    }
  }
}

// .popup-overlay .popup-content {
//   max-width: 600px;
//   width: 600px;
// }

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
  background-color: #ffffff;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.11);
}
