$green: #00c860;

.popup-content {
  border-radius: 15px;
}

.submit-board {
  color: #000000;
  margin: 30px 20px 20px 20px;
  &__title {
    display: flex;
  }

  &__board-title-input {
    border: none;
    font-size: 26px;
    width: 100%;
    margin: 20px 0px 10px 0px;
    &:focus {
      outline: none;
    }
  }

  &__author {
    display: none;
  }

  &__contents {
    display: flex;
  }

  &__contents-input {
    border: none;
    font-size: 20px;
    width: 100%;
    margin: 20px 0px 10px 0px;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  &__img-box {
    text-align: left;
  }

  &__img {
    border: 2px dotted #aaa;
    height: 15%;
    width: 15%;
  }

  &__button {
    height: 40px;
    width: 70px;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 13px;
    border: 1px solid #aaa;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &--submit {
      background-color: $green;
      margin-left: 10px;
    }

    &--cancel {
      background-color: #eee;
      color: #000000;
    }
  }
}
