.mission {
  width: calc(100vw - 400px);
  margin: 0 auto;
  padding: 15px 30px;

  &__upper-text {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &__list-box {
    width: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.all-mission-box {
  border-radius: 13px;
  border: 1px solid #e1e5f1;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0.5rem;
  width: 350px;
  height: 460px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  &__top {
    position: relative;
    overflow: hidden;
  }

  &__ended-label {
    width: 350px;
    height: 100px;
    font-size: 2rem;
    text-align: center;
    line-height: 6.5rem;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__body {
    margin: 10px;
  }

  &__img {
    width: 350px;
    height: 300px;
    border: none;
    transition: transform 0.5s ease;
    overflow: hidden;
    &:hover {
      transform: scale(1.2);
      filter: brightness(65%);
    }

    &--ended {
      &:hover {
        transform: none;
      }
      filter: brightness(45%);
    }
  }

  &__title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__admin {
    font-size: 0.9rem;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2rem;
    border-bottom: 1px solid #eee;
  }

  &__admin-image {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    width: 1.7rem;
    height: 1.7rem;
    width: 25px;
    height: 25px;
  }

  &__content {
    margin: 5px 0;
    font-size: 0.9rem;
    height: 43px;
    line-height: 23px;
  }

  &__people {
    color: #888;
    text-align: right;
    margin-top: 7px;
    font-size: 0.9rem;
  }
}
