$break-small: 800px;
$break-large: 1720px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

/* .App-Calendar {
  margin: 10px;
}

.profile {
  display: table;
}

.profile__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile__title {
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1.1rem;
}

#profileTitle:hover {
  text-decoration: underline;
  cursor: pointer;
} */

.mission {
  width: calc(100vw - 400px);
  margin: 0 auto;
  padding: 30px 30px;

  // @include respond-to(handhelds) {
  //   width: calc(100vw - 465px);
  // }
  // @include respond-to(medium-screens) {
  //   width: calc(100vw - 400px);
  // }
  // @include respond-to(wide-screens) {
  //   width: calc(100vw - 480px);
  // }

  &__upper-text {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 15px;
  }

  &__list-box {
    margin: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.all-mission-box {
  border-radius: 13px;
  border: 1px solid #e1e5f1;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0.5rem;
  width: 350px;
  height: 460px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  &__top {
    position: relative;
    overflow: hidden;
  }

  &__ended-label {
    width: 350px;
    height: 100px;
    font-size: 2rem;
    text-align: center;
    line-height: 6.5rem;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__body {
    margin: 10px;
  }

  &__img {
    width: 350px;
    height: 300px;
    border: none;
    transition: transform 0.5s ease;
    overflow: hidden;
    &:hover {
      transform: scale(1.2);
      filter: brightness(65%);
    }

    &--ended {
      &:hover {
        transform: none;
      }
      filter: brightness(45%);
    }
  }

  &__title {
    margin-top: 7px;
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__admin {
    font-size: 0.9rem;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2rem;
    border-bottom: 1px solid #eee;
  }

  &__admin-image {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    width: 1.7rem;
    height: 1.7rem;
    width: 25px;
    height: 25px;
  }

  &__content {
    margin-top: 7px;
    font-size: 0.9rem;
    height: 43px;
    line-height: 23px;
  }

  &__people {
    color: #888;
    text-align: right;
    margin-top: 7px;
    font-size: 0.9rem;
  }
}
