.login-modal {
  width: 600px;
  padding: 20px 0px;
  text-align: center;
  font-weight: 700;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  &__button {
    font-size: 1.3rem;
    width: 80%;
    height: 60px;
    margin: 5px;
    //border: 2px solid #aaa;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    font-weight: 700;
    cursor: pointer;
    &--kakao {
      background-color: #ffe812;
      &:hover {
        background-color: #f2db02;
      }
    }
    &--google {
      background-color: #cc355d;
      color: #ffffff;
      &:hover {
        background-color: #c71443;
      }
    }
    &--naver {
      background-color: #00c73c;
      color: #ffffff;
      &:hover {
        background-color: #32a852;
      }
    }
  }
}
