.login-modal {
  width: 600px;
  padding: 20px 0px;
  text-align: center;
  background: #eee;
  font-weight: 700;
  &__title {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  &__button {
    font-size: 1.4rem;
    width: 90%;
    height: 70px;
    margin: 5px;
    border: 2px solid #aaa;
    border-radius: 8px;
    background: #ffffff;
    cursor: pointer;
    &:hover {
      background: #f0f0f0;
    }
  }
}
