$green: #00c860;

.popup-content {
  border-radius: 15px;
}

.submit-board {
  color: #000000;
  margin: 30px 20px 20px 20px;
  cursor: default;
  text-align: right;

  &__cancel-button {
    cursor: pointer;
    position: absolute;
    padding: 15px 20px;
    line-height: 30px;
    right: 0px;
    top: 0px;
    font-size: 2.2rem;
    color: #aaa;
    transition: color 0.15s ease 0s;
    &:hover {
      color: #000000;
    }
  }

  &__title {
    display: flex;
  }

  &__board-title-input {
    border: none;
    font-size: 26px;
    width: 100%;
    margin: 20px 0px 10px 0px;
    &:focus {
      outline: none;
    }
  }

  &__author {
    display: none;
  }

  &__contents {
    display: flex;
  }

  &__contents-input {
    border: none;
    font-size: 1.5rem;
    width: 100%;
    margin: 20px 0px 10px 0px;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  &__img-box {
    text-align: left;
  }

  &__img {
    border: 2px dotted #aaa;
    height: 15%;
    width: 15%;
  }

  &__button {
    height: 55px;
    width: 130px;
    font-size: 1.1rem;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #eee;
    cursor: pointer;

    transition: border-color 0.15s ease 0s, background 0.15s ease 0s,
      color 0.15s ease 0s;

    &:focus {
      outline: none;
    }

    &--submit {
      margin-left: 10px;
      color: $green;
      border: 2px solid $green;
      background-color: #ffffff;

      &:hover {
        border: 1px solid $green;
        background-color: $green;
        color: #ffffff;
      }
    }
  }
}
